$icon-font-path: "/components/sass-bootstrap/fonts/";

@import '../components/sass-bootstrap/lib/bootstrap';
@import 'design/colors';

html {
    body {
        .link-wrapper {
            display: block;
            padding: 20px 0;
            text-align: center;
            a,
            input {
                display: inline-block;
            }
        }
        .block-centered {
            display: block;
            margin: auto;
            text-align: center;
        }
        .btn {
            &.btn-lg {
                .glyphicon {
                    font-size: 30px;
                }
            }
        }
        .center {
            text-align: center;
        }
        .glyphicon {
            margin: 0 5px;
        }
        #app-navigation-bar,
        #app-footer {
            min-height: 42px;
        }
        #app-navigation-bar {
            h4,
            h5,
            h6 {
                margin: 0 auto;
                padding: 10px 0;
                @include clearfix();
                text-align: center;
                font-weight: 200;
                color: $app-bars-text;
                background: $app-bars-background;
            }
            &.padded {
                padding: 0 15px;
                background: $app-bars-background;
            }
        }
        #app-navbar {
            margin: 0;
        }
        #app-footer {
            padding: 0 15px;
            line-height: 42px;
            text-align: center;
            font-weight: 200;
            overflow: hidden;
            color: $white;
            background: $app-bars-background;
        }
        #app-content {
            padding: 20px 0;
            background: $app-content-background;
            #app-timer {
                font-size: 60px;
            }
            #qr-code-canvas {
                display: none;
            }
            .white {
                overflow:hidden;
                background-color:#FFF;
                @include border-top-radius(10px);
                @include border-bottom-radius(10px);
            }
            .col-lg-10 {
                @extend .col-lg-offset-1;
                @extend .white;
                margin-bottom:20px;
                p:first-child {
                    margin:10px 0 20px;
                }
            }
            h4 {
                @extend .col-lg-offset-1;
            }
            table {
                margin: 40px 0px;
                th {
                    background:rgba(52,73,94,0.9);
                    color:#FFF;
                }
                tr {
                    background:#FFF;
                    &:hover td a {
                        color:#2a6496;
                    }
                }
                td {
                    a {
                        display:inline-block;
                        width:100%;
                        height:100%;
                        &:hover {
                            text-decoration:none;
                        }
                    }
                }
                &.table-planning {
                    tr {
                        td {
                            height: 30px;
                        }
                    }
                }
            }
            #gps {
                width: 100%;
                min-height: 700px;
                // background:url('../images/gps.png') no-repeat;
                // background-size:100% auto;
            }
            .avatar {
                background:#ccc;
                width:100%;
                height:140px;
            }
            .message {
                background:#FFF;
                padding:20px 20px 10px;
                margin: 10px 40px;
            }
            .TMS-wrapper {
                figcaption {
                    font-size: 30px;
                    font-weight: bold;
                }
                img {
                    width: 400px;
                }
            }
            .progress {
                max-width: 400px;
                margin: 20px auto 0 auto;
                .progress-bar {
                    @include transition(width 3.0s linear);
                }
                &.complete {
                    .progress-bar {
                        width: 100%;
                    }
                }
            }
            .right-menu {
                background:#FFF;
            }
        }
        #app-modals {
            .modal-footer {
                a {
                    margin-bottom:10px;
                }
                i {
                    cursor:pointer;
                }
            }
            #benef-fiches{
                .modal-dialog {
                    width:650px;
                }
                .dropdown-menu {
                    font-size:12px;
                }
            } 
        }
    }
}

@media (max-width: 640px) {
    html {
        body {
            .container {
                padding: 0;
                .row {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}