$icon-font-path: "/components/sass-bootstrap/fonts/";

@import '../components/sass-bootstrap/lib/bootstrap';
@import 'design/colors';

html {
    body {
        .link-wrapper {
            display: block;
            padding: 20px 0;
            text-align: center;
            a,
            input {
                display: inline-block;
            }
        }
        .block-centered {
            display: block;
            margin: auto;
            text-align: center;
        }
        .btn {
            &.btn-lg {
                .glyphicon {
                    font-size: 30px;
                }
            }
        }
        #app-navigation-bar,
        #app-footer {
            background: $app-bars-background;
            min-height: 42px;
            padding: 0 15px;
        }
        #app-navigation-bar {
            h4,
            h5,
            h6 {
                margin: 0 auto;
                padding: 10px 0;
                @include clearfix();
                text-align: center;
                font-weight: 200;
                color: $app-bars-text;
            }
        }
        #app-footer {
            line-height: 42px;
            text-align: center;
            color: $white;
            font-weight: 200;
        }
        #app-content {
            padding: 20px 0;
            background: $app-content-background;
            #app-timer {
                font-size: 60px;
            }
        }
    }
}

@media (max-width: 640px) {
    html {
        body {
            .container {
                padding: 0;
            }
        }
    }
}