$icon-font-path: "/components/sass-bootstrap/fonts/";

@import '../components/sass-bootstrap/lib/bootstrap';
@import 'design/colors';

html {
    body {
        .link-wrapper {
            display: block;
            padding: 20px 10px;
            text-align: center;
            a,
            input {
                display: inline-block;
            }
        }
        .block-centered {
            display: block;
            margin: auto;
            text-align: center;
        }
        .btn {
            &.btn-lg {
                .glyphicon {
                    font-size: 30px;
                }
            }
            &.btn-cta {
                width: 100%;
            }
        }
        .center {
            text-align: center;
        }
        .force-left,
        .force-right {
            position: absolute;
        }
        .force-left {
            left: 0;
        }
        .force-right {
            right: 0;
        }
        .glyphicon {
            margin: 0 5px;
        }
        .sided {
            padding: 0 20px;
        }
        .row {
            &.accolate {
                margin: 0;
                [class^="col"] {
                    padding: 0;
                }
            }
            &.sided {
                padding: 0 10px;
            }
        }
        #personnal-menu {
            background: $personnal-menu-background;
        }
        #app-navigation-bar,
        #app-footer {
            min-height: 42px;
        }
        #app-navigation-bar {
            h4,
            h5,
            h6,
            p {
                position: relative;
                height: 42px;
                margin: 0 auto;
                padding: 10px 0;
                @include clearfix();
                text-align: center;
                font-weight: 200;
                line-height: 22px;
                color: $app-bars-text;
                background: $app-bars-background;
                .force-left,
                .force-right {
                    top: 6px;
                }
            }
            &.padded {
                padding: 0 15px;
                background: $app-bars-background;
            }
            &:not(.padded) {
                h4,
                h5,
                h6,
                p {
                    padding: 10px 15px;
                }
            }
        }
        #app-navbar {
            margin: 0;
        }
        #app-footer {
            position: relative;
            padding: 0 15px;
            line-height: 42px;
            text-align: center;
            font-weight: 200;
            overflow: hidden;
            color: $white;
            background: $app-bars-background;
            h5,
            div,
            p {
                position: relative;
                margin: 0;
            }
            .force-left,
            .force-right {
                top: 6px;
            }
        }
        #app-content {
            padding: 20px 0;
            background: $app-content-background;
            #app-timer {
                font-size: 60px;
            }
            #qr-code-canvas {
                display: none;
            }
            #qrcode {
                display: block;
                @include square(200px);
                margin: 0 auto;
            }
            .white {
                overflow:hidden;
                background-color:#FFF;
                @include border-top-radius(10px);
                @include border-bottom-radius(10px);
            }
            .col-lg-10 {
                @extend .col-lg-offset-1;
                @extend .white;
                margin-bottom:20px;
                p:first-child {
                    margin:10px 0 20px;
                }
            }
            h4 {
                @extend .col-lg-offset-1;
            }
            table {
                margin: 40px 0px;
                th {
                    background: rgba(52,73,94,0.9);
                    color: $white;
                }
                tr {
                    background: $white;
                    &.info {
                        td {
                            background: rgb(217, 237, 247);
                            &.default {
                                background: $white;
                            }
                        }
                        &:hover {
                            td {
                                background: rgb(217, 237, 247);
                                &:hover {
                                    background: darken(rgb(217, 237, 247), 10);
                                }
                                &.default {
                                    &:hover {
                                        background: $white;
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        td {
                            &.default {
                                background: $white;
                            }
                        }
                    }
                }
                td {
                    a {
                        display:inline-block;
                        width:100%;
                        height:100%;
                        &:hover {
                            color: #2a6496;
                            text-decoration:none;
                        }
                    }
                    &.default {
                        background: $white;
                    }
                }
                &.table-planning {
                    tr {
                        td {
                            height: 30px;
                            vertical-align:middle;
                        }
                        &.legend-row {
                            th {
                                background: transparent;
                                padding: 0 15px;
                                .success,
                                .warning,
                                .danger {
                                    padding: 8px 15px;
                                    color: $app-bars-background;
                                }
                                .success {
                                    background: rgb(223, 240, 216);
                                    &:hover {
                                        background: rgb(208, 233, 198);
                                    }
                                }
                                .warning {
                                    background: rgb(252, 248, 227);
                                    &:hover {
                                        background: rgb(250, 242, 204);
                                    }
                                }
                                .danger {
                                    background: rgb(242, 222, 222);
                                    &:hover {
                                        background: rgb(235, 204, 204);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #history-list {
                i {
                    font-size:20px;
                }
            }
            #gps {
                width: 100%;
                min-height: 400px;
            }
            .message {
                background:#FFF;
                padding:20px 20px 10px;
                margin: 10px 40px;
                hr {
                    margin: 10px 0;
                }
                .avatar {
                    display: block;
                    background: $sun-flower;
                    @include square(50px);
                    margin: auto;
                }
                &.admin {
                    .avatar {
                        background: $turquoise;
                    }
                }
                .message-title {
                    margin: 5px auto;
                    color: $midnight-blue;
                }
                .message-date {
                    margin: 5px auto;
                    font-size: 12px;
                    font-style: italic;
                }
                .message-text {
                    margin: 5px 0;
                    padding: 0 10px;
                    font-size: 14px;
                    line-height: 14px;
                }
            }
            .TMS-wrapper {
                figcaption {
                    font-size: 30px;
                    font-weight: bold;
                }
                img {
                    width: 300px;
                }
            }
            .progress {
                max-width: 300px;
                margin: 20px auto 0 auto;
                .progress-bar {
                    @include transition(width 3.0s linear);
                }
                &.complete {
                    .progress-bar {
                        width: 100%;
                    }
                }
            }
            .right-menu {
                background:#FFF;
            }
        }
        #app-modals {
            .TMS-wrapper {
                figcaption {
                    font-size: 30px;
                    font-weight: bold;
                }
                img {
                    width: 300px;
                }
            }
            .modal-footer {
                a {
                    margin-bottom:10px;
                }
                i {
                    cursor:pointer;
                }
            }
            #benef-fiches{
                .modal-dialog {
                    width:650px;
                }
                .dropdown-menu {
                    font-size:12px;
                }
            } 
        }
    }
}

@media (max-width: 640px) {
    html {
        body {
            .container {
                padding: 0;
                .row {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}