// Base colors
$white: rgb(255, 255, 255);

$turquoise: rgb(26, 188, 156);
$green-sea: rgb(22, 160, 133);

$emerald: rgb(46, 204, 113);
$nephritis: rgb(39, 174, 96);

$peter-river: rgb(52, 152, 219);
$peter-river: rgb(52, 152, 219);

$amethyst: rgb(155, 89, 182);
$wisteria: rgb(142, 68, 173);

$wet-asphalt: rgb(52, 73, 94);
$midnight-blue: rgb(44, 62, 80);

$sun-flower: rgb(241, 196, 15);
$orange: rgb(243, 156, 18);

$carrot: rgb(230, 126, 34);
$pumpkin: rgb(211, 84, 0);

$alizarin: rgb(231, 76, 60);
$pommegranate: rgb(192, 57, 43);

$clouds: rgb(236, 240, 241);
$silver: rgb(189, 195, 199);

$concrete: rgb(149, 165, 166);
$asbestos: rgb(127, 140, 141);

// App real colors
$app-content-text: $white;
$app-content-background: transparentize($peter-river, 2/3);
$app-bars-text: $white;
$app-bars-background: $wet-asphalt;
$personnal-menu-background: transparentize($silver, 2/3);